@import url('https://fonts.googleapis.com/css?family=Raleway');

@page {
	margin: 24px 26px 16px 26px;
	font-family: 'Raleway', serif;
	font-size: 9pt;
	line-height: 0px;
}
	
header, section, article, div, footer {
	padding: 0px;
	margin: 0px;
}

h1 {
	margin: 12px 0px 0px 0px;
}

h2 {
	margin: 10px 0px 0px 0px;
}

h3 {
	margin: 8px 0px 0px 0px;
}

p {
	margin: 2px 0px 0px 2px;
}

div {
	margin: 2px 0px 0px 2px;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}
	
a:hover {
	color: #000000;
}

a:active {
	color: #000000;
}

nav, #unprint, .book, .meta, .adv, .ndop {
	display: none;
}

.agreement {
  font-size: 7pt;
  margin: 16px 0px;
}

#print_only {
	display: contents;
}

.techs span {
	display: none;
}

.techs a {
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}
